body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    width: 450px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1, h2 {
    text-align: center;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

.form input,
.form select,
.form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #eee;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.income {
    border-left: 5px solid green;
}

.expense {
    border-left: 5px solid red;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
}
